*
{
  margin: 0;
  padding: 0;
}
body
{
  font-family: sans-serif;
}
#nav-bar
{
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar
{
  background-image: linear-gradient(to right, #a517ba,#5f1782);
  padding: 0 !important;
}
.navbar-brand img
{
  height: 50px;
  padding-left: 20px;
}
.navbar-nav li
{
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 10px;
}
.navbar-nav li a
{
  color: #fff !important;
  font-weight: 600;
}
#banner
{
  background-image: linear-gradient(to right, #a517ba,#5f1782);
  color: #fff;
  padding-top: 5%;
}
.promo-title
{
  font-size: 40px;
  font-weight: 400;
  margin-top: 50px;
  font-family: 'Fredoka One', cursive;
}
.img-fluid
{
  margin-bottom: 50px;
}
.bottom-img
{
  width: 100%;
}
#services
{
  padding: 10px 0;
  font-family: 'Acme', sans-serif;
}
.service-img
{
  width: 100px;

}
.services
{
  padding: 20px;
}
#services li
{
  text-align:left;
  font-size: 20px;
}
#services ul li
{
  margin: 10px 0;
}
#services ul
{
  margin-left: 35px;
}
.title::before
{
  content: '';
  background: #7b1798;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(63px);
}
.title::after
{
  content: '';
  background: #7b1798;
  height: 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(8px);
}
#ap
{
  background: #f8f9fa;
  padding-bottom: 200px;
  padding-top: 50px;
  font-family: 'Acme', sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }
.btn-block { width: 100%; display:block; }

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }


.login {
	position: relative;
	top: 40%;
	left: 50%;
	margin: 50px 0 0 -190px;
	width:400px;
	height:400px;
  font-weight: 400;
  font-size: 20px;
}

/* .login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; } */

input {
	width: 50%;
	margin-bottom: 10px;
	/* background: rgba(0,0,0,0.3); */
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #9A00A4;
	/* text-shadow: 1px 1px 1px rgba(0,0,0,0.3); */
	border: 1px solid rgba(48,25,52,0.6);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px #b19cd9, 0 1px 1px #b19cd9;
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(183, 0, 195,0.4), 0 1px 1px rgba(183, 0, 195,0.2); }

#guides
{
  margin-top: 30px;
  font-size: 30px;
  font-weight: 400;
  font-family: 'Acme', sans-serif;
}
.xyz
{
  color: #810089 !important;
}
#aboutus
{
  background: #f8f9fa;
  padding: 100px 0;
  font-family: 'Acme', sans-serif;
}
#aboutus p
{
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}
.social-icons img
{
  width: 600px;
  transition: 0.5s;
}
.social-icons a:hover img
{
  transform: translateY(-10px);
}
#footer
{
  background-image: linear-gradient(to right, #a517ba,#5f1782);
  color: #fff;
  ma
}
.footer-img
{
  width: 100%;
}
.footer-box
{
  padding: 10px;
font-weight: 600;
}
.footer-boxx
{
  padding: 10px;
text-align: left;
}
.footer-box img
{
  height: 60px;
  margin-bottom: 10px;
  margin-top: -10px
}
.upper-svg
{
  width: 100%;
  margin-bottom: -70px;
  margin-top: -100px;
}
.bottom-svg
{
  width: 100%;
}
